footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: center;
}

footer > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 15px 0;
}
footer p {
  margin: 7px 2px;
}

.social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pointer {
  height: 100%;
}
