.coursesBox {
  background-color: var(--grey-color);
  padding: 50px;
  color: var(--orange-color);
}

.courses {
  background-color: var(--black-color);
  padding: 50px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.courseCard {
  width: 350px;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 1rem;
  padding: 20px;
  text-align: center;
}
.courseCard a {
  color: var(--black-color);
}
.courseName {
  font-weight: bold;
  color: var(--green-color);
}
.courseLogo {
  width: 300px;
}
.pricecut {
  text-decoration: line-through;
  color: red;
}
